body{
    margin: 0%;
    background: #88AEA0;
}
/*header    */
header
{
    background: rgb(255, 255, 255) repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: bold;
    
}

#logo img
{
    width: 120px;
    height: 120px;
}

h1{
    margin-left: 10px;
}
p{
    margin-right:5px;
    margin-left: 3px;
}
a:link {
    color: rgb(0, 0, 0);
    text-decoration:none; 
    }

a:visited {
    color: #000000;
}
a:hover{
    color:red;
}
.titre{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}
.txtt{
    margin-top: 100px;
    font-size: 30px;
    color: whitesmoke;
}
.mail{
    font-size: 20px;
    color: whitesmoke;
}
.mail:hover{
        color:black;
}



/*   Responsive */

@media screen and (min-width:1200px){


    main{
    
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    article{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px;
        padding: 5px;
        background:#FFF;
        border: 1px solid #CCC;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.5);
        text-align: center;
      
    }
    img{
        width: 100%;
    }
    #ap img{
      width: 60%;
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    
}
/*  animation ordi  */
@keyframes tipsy {
    0 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    background-color: #88AEA0;
  }
  
  .a {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .a:before,
  .a:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  .a:before {
    border-color: #C3A9D4 #C3A9D4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
     border-radius:25px;
    z-index: -1;
  }
  
  .a:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #C3A9D4 #C3A9D4 ;
    border-radius:25px;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }

@media screen and (max-width: 1200px){
    header{
        font-size: 25px;
    }
    article{

        margin: 17px;
        padding: 4px;
        background:#FFF;
        border: 1px solid #CCC;
        width:88%;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.5);
        text-align: center;
    }
    img{
        width: 100%;
    }
    #logo img{
    width: 80px;
    height: 80px;   
}
#ap img{
  width: 100%;
  border-radius: 20px;
}
/*  animation tel  */
@keyframes tipsy {
    0 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    background-color: #88AEA0;
  }
  
  .a {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .a:before,
  .a:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  .a:before {
    border-color: #C3A9D4 #C3A9D4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
     border-radius:25px;
    z-index: -1;
  }
  
  .a:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #C3A9D4 #C3A9D4 ;
    border-radius:25px;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }
}
    